<!DOCTYPE html>
 <html lang="en">
<head>
    <title>Angular 2 ag-Grid starter</title>
    
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/B402FBC8-4F1C-824A-B8D7-37196D60E14E/main.js" charset="UTF-8"></script><script>document.write('<base href="' + document.location + '" />');</script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style> html, body { margin: 0; padding: 0; height: 100%; } </style>
    <link rel="stylesheet" href="styles.scss">


</head>
<body>

    <my-app>Loading ag-Grid example&hellip;</my-app>
</body>
</html>